
certifi==2023.11.17
charset-normalizer==3.3.2
docopt==0.6.2
idna==3.6
mysql-connector-python==8.2.0
numpy==1.24.4
opencv-contrib-python==4.1.2.30
opencv-python==4.3.0.36
pillow==8.1.0
pip==23.3.1
pipreqs==0.4.13
protobuf==4.21.12
requests==2.31.0
setuptools==68.2.2
urllib3==2.1.0
wheel==0.41.2
yarg==0.1.9